{
  "order": {{ index }},
  "template": "syslog-gelf*",
  "index_patterns": [
    "syslog-gelf-*"
  ],
  "settings": {
    "index": {
      "refresh_interval": "{{ opendistro_logstash_arg.index_refresh_interval }}",
      "number_of_shards": "{{ opendistro_servers | length }}",
      "number_of_replicas": "{% if opendistro_servers | length > 1 %}1{% else %}0{% endif %}"
    }
  }
}