{
  "index_patterns": [
    "logstash-nginx-json*"
  ],
  "create": true
  "template": {
    "settings": {
      "refresh_interval": "{{ opendistro_logstash_arg.index_refresh_interval }}",
      "number_of_shards": "{{ opendistro_servers | length }}"
    }
  }
}