KIBANA_EXPORTER_OPTS='-kibana.uri https://{{ ansible_default_ipv4.address }}:{{ opendistro_port.kibana }}{% if opendistro_kibana_proxy | bool %}/kibana{% endif %} -web.listen-address {{ ansible_default_ipv4.address }}:{{ opendistro_port.kibana_exporter }} -kibana.skip-tls'
