# user : password
kibanaserver : {{ opendistro_kibanaserver_pass }}
kibanaro : {{ opendistro_kibanaro_pass }}
logstash : {{ opendistro_logstash_pass }}
readall : {{ opendistro_readall_pass }}
snapshotrestore : {{ opendistro_snapshotrestore_pass }}
